@page "/chef/orderlist"
@layout ChefLayout
@inject OrderService OrderService
@inject GlobalService GlobalService
@implements IDisposable
@attribute [Authorize(Roles = Role.Chef + ", " + Role.Manager)]

<AuthorizeView>
    <Authorized>
        <div class="work-table" style="background-color:darkblue;">
            <div class="pending-orders">
                <h6 class="work-table-head sticky-top">Pending Orders</h6>
                @if (pendingOrders is not null)
                {
                    @foreach (var pendingOrder in pendingOrders)
                    {
                        <div class="order py-1">
                            <div class="d-flex justify-content-between mx-3">
                                <p>@pendingOrder.TimeOrdered.ToShortDateString()</p>
                                <p>@pendingOrder.TimeOrdered.ToShortTimeString()</p>
                            </div>
                            <div class="border rounded shadow m-2 bg-white">
                                @if(pendingOrder.OrderProducts is not null)
                                {
                                    @foreach (var prod in pendingOrder.OrderProducts)
                                    {
                                        <div class="border border-0 border-bottom border-dark mx-3">
                                            <span class="py-0">@prod.Product.Name</span>
                                            <span class="float-end py-0">@prod.Quantity</span>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }

            </div>
            <div class="accepted-orders" style="background-color:cornflowerblue;">
                <h6 class="work-table-head sticky-top">Accepted Orders</h6>
                @if (acceptedOrders is not null)
                {
                    @foreach (var acceptedOrder in acceptedOrders)
                    {
                        <div class="order">
                            <p>@acceptedOrder.TimeOrdered</p>
                        </div>

                    }
                }

            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    List<Order> pendingOrders = new List<Order>();
    List<Order> acceptedOrders = new List<Order>();

    protected async override Task OnInitializedAsync()
    {
        GlobalService.Order.OnOrderMade += RefreshTheListAsync;
        await RefreshTheListAsync();
    }

    public async Task RefreshTheListAsync()
    {
        var response = await OrderService.GetProcessingOrders();

        if (response.Result != OperationResult.Ok)
            return;

        pendingOrders = response.Data.Where(x => x.OrderStatus == OrderStatus.Pending).ToList();
        acceptedOrders = response.Data.Where(x => x.OrderStatus == OrderStatus.Baking).ToList();
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        GlobalService.Order.OnOrderMade -= RefreshTheListAsync;
    }
}