@inject ShoppingCartService ShoppingCartService
@implements IDisposable
@inject IJSRuntime JSRuntime


<div>
    @if (ShoppingCartService.Products is null || ShoppingCartService.NumberOfProducts == 0)
    {
        <h5>Your cart is empty ...</h5>
    }
    else
    {
        @foreach (var product in ShoppingCartService.Products)
        {
            <div class="order-item row">
                <div class="col-12 d-flex justify-content-between px-0 pb-2 mb-1 border-bottom">
                    <h6 class="d-inline mb-0"><i class="fa-solid fa-pizza-slice"></i>&nbsp;@product.Name</h6>
                    <button @onclick="@(()=>ShoppingCartService.DeleteSingleProduct(product.Id))" class="btn-delete"><i class="fa-solid fa-trash"></i></button>
                </div>
                <div class="col-12 border-bottom pb-2">
                    <small><b>Ingridients:</b> @product.Ingridients</small>
                </div>
                <div class="col-12 d-flex justify-content-between">
                    <div>
                        <button @onclick="@(()=>ModifyAmountAsync(product, false))" class="btn-adjustment">-</button>
                        <span>@product.Amount</span>
                        <button @onclick="@(()=>ModifyAmountAsync(product, true))" class="btn-adjustment">+</button>

                    </div>
                    <div>
                        <span class="text-decoration-line-through" style="font-size:.7rem;">@product.DiscountedPrice</span>
                        <span>@product.Price</span>
                    </div>
                </div>
            </div>
        }
        <div class="px-2">
            <div class="mt-3 text-secondary">Order Summary : <span class="float-end">@ShoppingCartService.TotalCartPrice.ToString("#.##") Nok</span></div>
            <div class="mt-1 text-secondary">Discounts : <span class="float-end">@ShoppingCartService.TotalDiscounts.ToString("#.##") Nok</span></div>
            <h5 class="mt-2">Pay : <span class="float-end">@ShoppingCartService.DiscountedPrice.ToString("#.##") Nok</span></h5>
        </div>
        <div class="py-1">
            <button class="btn btn-danger mt-2 d-block w-100"><i class="fa-solid fa-credit-card"></i>&nbsp;&nbsp;Order now</button>
        </div>
    }
</div>
@code {
    protected override void OnInitialized() =>
        ShoppingCartService.OnReloadShoppingCart += ReloadComponent;

    async Task ReloadComponent() =>
        await InvokeAsync(StateHasChanged);

    public void Dispose() =>
        ShoppingCartService.OnReloadShoppingCart -= ReloadComponent;

    async Task ModifyAmountAsync(ProductInfo product, bool sumup)
    {
        if (sumup)
            product.Amount++;
        else
            product.Amount--;

        if (product.Amount <= 0)
        {
            // delete this product
            await ShoppingCartService.DeleteSingleProduct(product.Id);
            return;
        }

        await ShoppingCartService.SaveShoppingCartAsync();
    }


}
