@using System.Security.Claims;
@inject IJSRuntime JSRuntime
@inject ShoppingCartService ShoppingCartService
@inject NavMenuService NavMenuService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@implements IDisposable

<nav class="sticky-top navbar navbar-expand-md @NavBarClass shadow-sm border-bottom border-white">
    <div class="container">
        <a class="navbar-brand text-light" href="#"><h4 class="m-0 p-0">@NavBarLogoText</h4></a>
        @if(AccessFrom == Page.CustomerPage)
        {
            <div class="d-flex align-items-center d-md-none ml-auto-icon">
                @if (!authState.User.Identity.IsAuthenticated)
                {
                    <div @onclick="NavigateToLogin" class="nav-icon-wrap ico">
                        <i class="fa-solid fa-user text-white nav-icon"></i>
                    </div>
                }
                else
                {
                    <div class="nav-icon-wrap ico">
                        <NavLink @onclick="ToggleUserBtn" Match="NavLinkMatch.All" class="nav-link text-white mt-0 p-0" href="/account">
                            <i class="fa-solid fa-user-check nav-icon"></i>
                        </NavLink>
                    </div>
                }
                <div @onclick="ShoppingCartClick" class="nav-icon-wrap @(cartActive?"bg-white text-danger":"text-white")">
                    <i class="fa-solid fa-cart-shopping nav-icon"></i>
                    <div class="notification text-white fw-bold">
                        <span class="notification-number">@ShoppingCartService.NumberOfProducts</span>
                    </div>
                </div>
            </div>
        }
        <button class="navbar-toggler bg-white show" @onclick="ToggleMenu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item">
                    <NavLink @onclick="ToggleMenu" Match="NavLinkMatch.All" class="nav-link mx-1" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink @onclick="ToggleMenu" Match="NavLinkMatch.All" class="nav-link mx-1" href="/menu">Menu</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink @onclick="ToggleMenu" Match="NavLinkMatch.All" class="nav-link mx-1" href="/aboutus">About Us</NavLink>
                </li>
            </ul>
        </div>

            @if(AccessFrom == Page.CustomerPage)
        {
        <div class="d-none d-md-block">
            @if (!authState.User.Identity.IsAuthenticated)
            {
                <div @onclick="NavigateToLogin" class="nav-icon-wrap ico">
                    <i class="fa-solid fa-user text-white nav-icon"></i>
                </div>
            }
            else
            {
                <div class="nav-icon-wrap ico">
                    <NavLink @onclick="ToggleMenu" Match="NavLinkMatch.All" class="nav-link text-white" data-toggle="tooltip" title="Account" href="/account">
                        <i class="fa-solid fa-user-check " style="padding:12px;"></i>
                    </NavLink>
                </div>
            }
            <div @onclick="ShoppingCartClick" data-toggle="tooltip" title="Cart" class="nav-icon-wrap @(cartActive?"bg-white text-danger":"text-white")">
                <i class="fa-solid fa-cart-shopping  nav-icon"></i>
                <div class="notification text-white fw-bold">
                    <span class="notification-number">@ShoppingCartService.NumberOfProducts</span>
                </div>
            </div>
        </div>
        }
    </div>
</nav>

@code {
    [Parameter]
    public Page AccessFrom { get; set; } = Page.CustomerPage;

    string NavBarClass = "bg-danger";
    string NavBarLogoText = "Pizza Place";

    private bool navOpen = false;
    private bool cartActive = false;
    private bool userBtnActive = false;
    int cartNumberNotification = 0;

    public event Action<bool> OnNavButtonClick;
    public event Action<bool> OnCartButtonClick;

    public AuthenticationState authState;

    protected async override Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        SetNavBarClasses();
    }

    void NavigateToLogin() => NavigationManager.NavigateTo("identity/account/login", forceLoad: true);

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            OnNavButtonClick += NavMenuService.SetNavState;
            ShoppingCartService.OnReloadShoppingCart += ReloadComponent;
            await ShoppingCartService.RefreshShoppingCartAsync();
            await JSRuntime.InvokeVoidAsync("initializeNav");
            StateHasChanged();
        }
    }

    async Task ReloadComponent() => await InvokeAsync(StateHasChanged);

    async Task ToggleUserBtn()
    {
        if (navOpen)
            await ToggleMenu();
    }

    void UpdateUnseenCartProduct(int number)
    {
        cartNumberNotification = number;
        StateHasChanged();
    }

    public async Task ToggleMenu()
    {
        if (!await IsMenuToggable())
            return;


        navOpen = !navOpen;

        if (navOpen)
        {
            NavMenuService.SetCartState(false);
            cartActive = NavMenuService.CartShow;
        }

        OnNavButtonClick?.Invoke(navOpen);
        await JSRuntime.InvokeVoidAsync("toggleNav", navOpen);
    }


    async void ShoppingCartClick()
    {
        cartActive = !cartActive;

        if (navOpen)
        {
            await ToggleMenu();
        }

        NavMenuService.SetCartState(cartActive);
    }

    public async Task<bool> IsMenuToggable() =>
         await JSRuntime.InvokeAsync<bool>("isMenuToggable");


    void SetNavBarClasses()
    {
        if (AccessFrom == Page.ManagerPage)
        {
            NavBarClass = "bg-dark";
           // NavBarLogoText = "Manager Page";
            NavBarLogoText = "";
        }

    }


    public void Dispose()
    {
        OnNavButtonClick -= NavMenuService.SetNavState;
        ShoppingCartService.OnReloadShoppingCart -= ReloadComponent;
    }

}